# gitignore file
fig/**
Latex/**
results/**
workspace/**
config/**
x86/**
doc/**
slprj/**
data/**

# files
*.asv
*.save
.gitignore
*.autosave
*.original
*.slxc
*.zip
*.prj
*.tmp
*.bag
*.e57

# exceptions
!results/simulations/battery/report
