# dir
simulations/*
workspace/*
Papers/*
codegen/*
fig/*
data/*
slprj/*
Latex/**
workspace/**
config/**
x86/**
doc/**

# files
*.asv
*.save
.gitignore
*.autosave
*.original
*.slxc
*.zip
*.prj
*.tmp
*.bag
*.e57
codegeneration.m
