# gitignore file
fig/
Latex/
results/
workspace/
config/
x86/
doc/
slprj/
jackal/

# files
*.asv
*.save
.gitignore
*.autosave
*.original
*.slxc
*.zip
*.prj
*.tmp

# exceptions
!results/simulations/battery/report
